/* Body */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
}

h3 {
  color: #E21D3C !important;
  font-size: 1.5rem !important;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a:hover {
  opacity: 0.6;
}

.text-red {
  color: #E21D3C;
  font-weight: bold;
}

/* Navbar */
.navbar {
  padding: 1.6rem 1rem !important;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

ul.navbar-nav.mr-auto {
  margin-right: 0px !important;
  margin-left: auto !important;
}

.nav-link {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem 0.5rem !important;
}

.nav-link:hover {
  color: black;
}

.btn-red {
  background: #E21D3C;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 23px !important;
  border-radius: 0px !important;
  padding: 0.7rem 2rem !important;
}

.nav-item .btn-red {
  margin-left: 2rem;
}

button:focus {outline:0 !important;}

/*Section body */
section {
  padding: 4rem 0rem;
  border: 0;
  background: transparent;
}

.bg-sand {
  background: #F2F2E6;
}

.bg-red {
  background: #E21D3C;
}

.space-bottom {
  margin-bottom: 2rem;
}

/*Section header */
.section-header {
    margin-top: 7rem;
    background: url(../images/bg-header.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/*Section about */
.section-book-top {
  margin: -2.5rem 0 -1px;
  padding: 0rem;
  text-align: center;
}

.section-book-bottom {
  margin: -1px 0 0;
  padding: 0rem;
  text-align: center;
}

/* Section Think */
.section-think {
  padding: 6rem 0rem 4rem;
  background: url(../images/bg-think.png) no-repeat bottom left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
  padding-left: 0px;
}

li {
    list-style: none;
    padding-bottom: 1.3rem;
}

li:before {
    content: '•';
    margin-left: -15px;
    position: absolute;
}
.list-red {
  color: #E21D3C;
  font-weight: bold;
}

/* section-quotation */
.section-quotation {
  background: url(../images/bg-quote.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-red {
  color: #E21D3C;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.3rem;
}

/* Section with icon*/
.section-icon{
  color: #fff !important;
  text-align: center;
}

.section-icon h2 {
    font-size: 3rem;
}

/* Section with slider */
.section-slider {
  background: url(../images/bg-slider.png) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 42%;
    width: 120px;
    height: 120px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    border: 0;
}

.slick-prev {
    left: -105px;
}

.slick-prev:before {
    content: '<';
}

.slick-next {
    right: -75px;
}

.slick-next:before {
    content: '>';
}

.slick-prev:before, .slick-next:before {
    font-family: 'Oswald', sans-serif !important;
    font-size: 6rem;
    line-height: 1;
    opacity: .75;
    color: #E21D3C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Section price table */
.section-price {
  padding: 7rem 0 !important;
}

.col-white {
  border: 2px solid #E21D3C;
  background: white;
  margin-top: 2rem;
}

.col-red {
  border: 2px solid #E21D3C;
  background: #E21D3C;
  color: #fff;
  margin: 0 -2px;
}

.col-red, .col-white {
  padding: 2rem 3rem !important;
}

.price {
    font-size: 5rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.col-white .price {
  color: #E21D3C;
}

.section-price ul {
  font-weight: 400;
}
