/* Body */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
}

h3 {
  color: #E21D3C !important;
  font-size: 1.5rem !important;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a:hover {
  opacity: 0.6;
}

.text-red {
  color: #E21D3C;
  font-weight: bold;
}

/* Navbar */
.navbar {
  padding: 1.6rem 1rem !important;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

ul.navbar-nav.mr-auto {
  margin-right: 0px !important;
  margin-left: auto !important;
}

.nav-link {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem 0.5rem !important;
}

.nav-link:hover {
  color: black;
}

.footer-logo li:before,
li.nav-item::before {
    content: '';
    margin-left: 0px;
}

.btn-red {
  background: #E21D3C;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 23px !important;
  border-radius: 0px !important;
  padding: 0.7rem 2rem !important;
}

.nav-item .btn-red {
  margin-left: 2rem;
}

button:focus {outline:0 !important;}

button.navbar-toggler::before {
    content: '☰';
    color: #E21D3C;
    font-size: 30px;
    font-weight: bold;
}

/*Section body */
section {
  padding: 4rem 0rem;
  border: 0;
  background: transparent;
}

.bg-sand {
  background: #F2F2E6;
}

.bg-red {
  background-color: #E21D3C;
}

.space-bottom {
  margin-bottom: 2rem;
}

ul {
  padding-left: 0px;
}

li {
    list-style: none;
    padding-bottom: 1.3rem;
}

li:before {
    content: '•';
    margin-left: -15px;
    position: absolute;
}

/*Section header */
.section-header {
    margin-top: 7rem;
    background: url(../images/bg-header.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/*Section about */
.section-book-top {
  margin: -2.5rem 0 -1px;
  padding: 0rem;
  text-align: center;
}

.section-header h3 {
    font-weight: 300;
}

.section-book-bottom {
  margin: -1px 0 0;
  padding: 0rem;
  text-align: center;
}

/* Section Think */
.section-think {
  padding: 6rem 0rem 4rem;
  background: url(../images/bg-think.png) no-repeat bottom left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list-red {
  color: #E21D3C;
  font-weight: bold;
}

/* section-quotation */
.section-quotation {
  background: url(../images/bg-quote.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-red {
  color: #E21D3C;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.3rem;
}

/* Section with icon*/
.section-icon{
  color: #fff !important;
  text-align: center;
}

.section-icon h2 {
    font-size: 3rem;
}

/* Section with slider */
.section-slider {
  background: url(../images/bg-slider.png) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 42%;
    width: 120px;
    height: 120px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    border: 0;
}

.slick-prev {
    left: -105px;
}

.slick-prev:before {
    content: '<';
}

.slick-next {
    right: -75px;
}

.slick-next:before {
    content: '>';
}

.slick-prev:before, .slick-next:before {
    font-family: 'Oswald', sans-serif !important;
    font-size: 6rem;
    line-height: 1;
    opacity: .75;
    color: #E21D3C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Section price table */
.section-price {
  padding: 7rem 0 12rem !important;
}

.col-white {
  border: 2px solid #E21D3C;
  background: white;
  margin-top: 2rem;
}

.col-red {
  border: 2px solid #E21D3C;
  background: #E21D3C;
  color: #fff;
  margin: 0 -2px;
}

.col-red, .col-white {
  padding: 2rem 3rem !important;
}

.price {
    font-size: 5rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.col-white .price {
  color: #E21D3C;
}

.section-price ul {
  font-weight: 400;
}

.col-red h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.col-red h3 {
  color: #fff !important;
  font-size: 1.5rem !important;
  font-weight: 400;
}

.btn-white{
  background: #fff;
  color: #E21D3C;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 23px !important;
  border-radius: 0px !important;
  padding: 0.7rem 2rem !important;
}

a.btn-red:hover {
    opacity: 1;
    color: #E21D3C;
    border: 1px solid #E21D3C;
    background: #fff;
}

a.btn-white:hover {
    opacity: 1;
    color: #fff;
    border: 1px solid #fff;
    background: #E21D3C;
}

.col-red {
    margin-bottom: -3rem;
}

/* Footer */

footer {
  padding: 3rem 0 8.5rem;
  background-image: url(../images/bg-footer.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.col-right-border {
  border-right: 2px solid rgba(255,255,255,.3);
}

.col-last-part {
  color: #fff !important;
  padding: 3rem 2.5rem !important;
}

.col-last-part .btn-white {
  max-width: 290px;
}

.col-last-part  h4 {
    font-weight: 200;
}

.logo-white {
    margin: 3.5rem 0 0 8rem !important;
}

.footer-logo {
    position: absolute;
    left: 0.5rem;
}

.footer-logo li{
  padding-bottom: 0rem !important;
}

/* Responsive */
@media screen and (min-width: 1921px) {
  .section-book-top,
  .section-book-bottom {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  /*Navbar */
  a.nav-link {
    font-size: 1.1rem;
}

/* Button */
.btn {
  white-space: normal !important;
}

  /* Slider */
  .slick-prev {
      left: 0;
  }

  .slick-next {
      right: 0;
  }

  .slick-prev, .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 90%;
      width: 120px;
      height: 120px;
      margin-top: 0px;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      border: 0;
  }

  /*footer */
  .logo-white {
      margin: 3.5rem 0 0 0rem !important;
  }
}

@media screen and (max-width: 768px) {

/* Nav bar */
a.nav-link.btn.btn-red {
    max-width: 230px;
}

.nav-item .btn-red {
  margin-left: 0rem;
}

/* Section about book */
.section-think {
    background: url() !important;
}

.section-think .btn {
    margin-bottom: 40px;
}

/* Section with price table */

.section-price .col-lg-4 {
    margin: 2rem !important;
}

.section-price .btn {
  max-width: 100% !important;
}

/* Footer */
.col-right-border {
  border-right: 0px;
}
.col-last-part {
    text-align: center;
}

footer {
    text-align: center;
}

.logo-white {
  margin: 0px !important;
}

footer .btn-white {
    margin-top: 30px;
}
}

@media screen and (max-width: 425px) {

  /* Slider */
  .slick-prev, .slick-next {
    top: 80%;
}

.slick-prev:before, .slick-next:before {
    font-size: 4rem;
}

  /*section lool like book */
  .section-book-top,
  .section-book-bottom,
  .footer-logo {
    display: none;
  }

  /* Footer */

  footer {
    padding: 3rem 0 8.5rem;
    background-image: none;
  }
}

@media screen and (max-width:375px) {
  /* Navbar */
  button.navbar-toggler,
  button.navbar-toggler.collapsed {
    margin: 0 auto;
}
}
